body {
  background-color: #ede0ce;
  color: #2f1b0c;
  font-family: "IM Fell English", serif;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro h1 {
  font-size: 3em;
  margin-bottom: 0.25em;
}

.enter-btn {
  background-color: #a67b5b;
  color: #fff;
  padding: 0.75em 1.5em;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

.enter-btn:hover {
  background-color: #c89c74;
}
